html *
{
   color: #001427 !important;
   font-family: Arial !important;
}

body {
	background-color: #DBFCFF;
}

.a { color:black }
a:link { text-decoration: none; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

/* index design */

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
	padding: 2.5rem;
	letter-spacing: 0.6px;
}

.span{
	display: inline;
	justify-content: center;
	flex-direction: center;
	align-items: center;
}


.first-m {
	background-color: beige;
}

.second-m {
	background-color: beige;
}

.screen {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}


.button {
	display: flex;
	justify-content: center;
	flex-direction: center;
	align-items: center;
  	background-color: #fbeee0;
  	border: 2px solid #422800;
  	border-radius: 30px;
  	box-shadow: #422800 4px 4px 0 0;
  	color: #422800;
  	cursor: pointer;
  	display: inline-block;
 	font-weight: 600;
  	font-size: 23px;
  	padding: 0 18px;
  	line-height: 50px;
  	text-align: center;
  	text-decoration: none;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
	margin-left: 1.5rem;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* difficulty design */

.username-text{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-size: 50px;
	bottom: 24rem;
}

.username-chart{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	bottom: 240rem;

}

.choose-difficulty {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	font-size: 50px;
}

.difficultiesContainer{
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
}

.difficulty_button {
	display: flex;
	justify-content: center;
	flex-direction: center;
	align-items: center;
  	background-color: #fbeee0;
  	border: 2px solid #422800;
  	border-radius: 30px;
  	box-shadow: #422800 4px 4px 0 0;
  	color: #422800;
  	cursor: pointer;
  	display: inline-block;
 	font-weight: 600;
  	font-size: 23px;
  	padding: 0 18px;
  	line-height: 50px;
  	text-align: center;
  	text-decoration: none;
  	user-select: none;
  	-webkit-user-select: none;
  	touch-action: manipulation;
	margin-left: 1.5rem;
	margin-top: 30px;
}

.difficulty_button:hover {
	background-color: #fff;
  }
  
  .difficulty_button:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
	.difficulty_button {
	  min-width: 120px;
	  padding: 0 25px;
	}
  }
  
/* color picker and board*/

.visible {
	display: initial;
}

.colorPicker {
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 1px solid black;
	margin-right: 10px;
}

.rowContainer {
	margin-bottom: 10px;
}
.hintContainer {
	display: flex;
	padding-left: 10px;
}
.hint {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid gray;
	background-color: black;
	margin-right: 25px;
}

.match {
	background-color: green;

}
.exists {
	background-color: white;

}

.about-text {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 25rem;
	padding-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
	background-color: beige;
	font-size: 16px;
}

.back-button {
	padding-top: 25px;
	font-size: 25px;
}

.tries-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: center;
}

.board-m1 {
	background-color: beige;
}

.board-m2 {
    background-color: beige;
}

.board-title {
	font-size: 29px;
	letter-spacing: 0.6px;
}

.colorpicker-text {
	font-size: 40px;
}

/* rematch screens and buttons */

.lose-screen {
	position: static;
	display: absolute;
	justify-content: center;
	align-items: center;
	margin-left: 35rem;
	font-size: 30px;
	bottom: 25px;
	letter-spacing: 0.6px;
}

.win-screen {
	position: relative;
	display: absolute;
	justify-content: center;
	align-items: center;
	bottom: 25px;
	font-size: 30px;
	letter-spacing: 0.6px;
}

.rematch-buttons {

}

.rematch-buttons {
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
	margin-right: 70px;
}